# Python / environment
venv/
__pycache__/
*.pyc

# DB / secrets / logs
users.db
.env
*.log

# Models / large files (optional remove if you want to commit small models)
models/*.joblib
static/shap/*

# OS files
.DS_Store
Thumbs.db
